## Introduction to Python 2 

This next session is going to build from the basics we saw in our last session. We ended by learning some simple operations on strings. We also learned about the different variable types and writing simple functions. 

### Booleans

The Boolean is represented with the values True and False. It has all sorts of practical usage, be it unit testing or creating a label vector with some binary condition. Lets look at some comparison expressions using python. We look at three comparisons. We denote equality using double equal sign == 

We will also look at a case where we define values to some global variables and examine if the comparison is true or false using an IF ELSE statement. We will examine loop types later but on a high level, if else says if condition 1 is met then do this otherwise do something else.

In [1]:
print(10>9)

print(10==9)

print(10<9)

True
False
False

In [2]:
a=200

b=800 

if b>a:
    
    print("b is greater than a ")
    
else:
        
    print("b is not greater than a")

b is greater than a

Now that we have looked at an overview of some of the things we can do in python, lets solve some problems while introducing new base functions. Lets examine some of the iteration techniques that will be useful for performing large scale operations on data. 

## For Loops 


The for loop is used to iterate over a sequence defined to be a list, tuple, dictionary, or string. In other words, we are telling our program to go through each element or row and perform some operation. Lets create a list of animals to a variable and try some for loop examples.

In [3]:
animals=['cat','dog','crouching tiger','hidden dragon','manta ray', 'parrot','fox']

len(animals)

7

We save five elements from our list. We confirm the number of elements in our list by using the len() function. Now we are going to write a loop that tells our program to print each item in our list one by one. Our loop will iterate through an index number (which we will find using range() ) . We will also save the output of len() to a variable named len_animals.

In [4]:
len_animals=len(animals)

for i in range(len_animals):
    
    animal=animals[i]
    
    print(animal + " is an animal")

cat is an animal
dog is an animal
crouching tiger is an animal
hidden dragon is an animal
manta ray is an animal
parrot is an animal
fox is an animal

In [5]:
for i in range(len_animals):
    
    animal=animals[i]
    
    print(animal + " is an animal")

cat is an animal
dog is an animal
crouching tiger is an animal
hidden dragon is an animal
manta ray is an animal
parrot is an animal
fox is an animal

We are saving the value for the length of the list in a variable called len_animals. We call this value back in the range function when we specify the index. In other words, our for loop knows that it should iterate from the element at index zero to index in range(5 times). Inside the for loop, we define animal=animals[i] where i is a filler that will be replaced with every index value until it reaches the range. In other words we will loop through index 1-5 instead of doing animals[1], animals[2],...up to animals[5]. Finally the last part is simply to define the output. In our case, the output is to print the element from each index and append an additional messsage. 

Lets save our for loop in a function.

In [6]:
def animal_fun(): 
    
    for i in range(len_animals):
        
        animal=animals[i]
        
        new_animals = print(animal + " is an animal")
    
        #return

In [7]:
animal_fun()

cat is an animal
dog is an animal
crouching tiger is an animal
hidden dragon is an animal
manta ray is an animal
parrot is an animal
fox is an animal

You may observe that I have the return keyword blocked out at the end of my function. The return statement stops any iterations surrounded in the for loop. We do not need it yet for these basic examples but soon, we will be including it. Lets add more elements into our loop. The break function stops iteration once a certain element or condition is achieved in the iteration process. 

This problem is going to ask us to create a list of fruits. Within our iteration, we are going to tell our for loop to terminate once the value "cherry" is reached.

In [8]:
fruits=['apple', 'cherry', 'banana']

for i in fruits:
    
    print(i)
    
    if i=="cherry":
        
        break

apple
cherry

## Adding Else 

The else statement can be added within our for loops. The else statement is going to tell the program to to run some code after the loop has finished running.

In [9]:
for i in fruits:
    
    print(i)
    
else: 
    
    print("The code finished running!")

apple
cherry
banana
The code finished running!

## While Statement 

The while loop allows us to run some code as long as some defined condition is true.

In [11]:
i=1 

while i<6:
    
    print(i)
    
    i+=1 ## This tells the program to iterate over intervals of one until the condition is breached. In our case i being less than 6. 
    ## If we do not include this, the program will run forever because we will create an infinite print of 1's.

1
2
3
4
5

Lets take some of the concepts we learned and work on some practice problems before we add on additional concepts. 

ex 1) Write a function that will compute n factorial using recursion (calling its self) and return the solution. Assume our input only consists of integers.

In [12]:
def my_factorial(n): #start by defining your function with some arbitrarty name and some input variable n
    
    if n < 1:  #Define the base case (If the input is less than 1 , then return the value 1)
        
        return 1 
    
    else: 
        
        returnNumber=n*my_factorial(n-1) #let the function call its self to compute factorial n(n-1)(n-2)...
        #In other words if  input is 5, we will multiply 5*4, then loop again and multiply 5*4*3...and so forth till n is less than 1
        
    print(returnNumber) #print all previous factorials before the final number 
    
    return returnNumber #return the final calculated number

In [13]:
n=10

my_factorial(n)

1
2
6
24
120
720
5040
40320
362880
3628800

3628800

In [14]:
n=19

my_factorial(n)

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000
20922789888000
355687428096000
6402373705728000
121645100408832000

121645100408832000

## Using Dummy Data

We examined some basic examples of how to use loops. Lets start applying these concepts to realisitc looking data. We are going to use the pandas module to create some dummy data in the form of a spreadsheet and then perform some operations on this spreadsheet. We will be using pandas to create the dummy data, however as we move along in our course, we will be using pandas much more functionally.

In [15]:
import pandas as pd #bring in pandas module and assign it an alias 

data=pd.DataFrame({"Name":["John","Deep","Julia", "Kate", "Sandy"], "MonthlySales" : [25,30,35,40,45]}) #Use a dictionary 
#to define two columns, name and sales

In [16]:
data.head() #View our dummy data

   MonthlySales   Name
0            25   John
1            30   Deep
2            35  Julia
3            40   Kate
4            45  Sandy

Lets say that every person has a quota of 50 sales a month. Lets iterate through this list to create a new column called "PendingSales" that computes 50 - MonthlySales. Please note that this is certainly something we can do in SQL, however you will get to see that we can do the same thing in python using maybe a line or two.

In [17]:
data['PendingSales']=50-data['MonthlySales'] #define new column on left side, perform operation on right side 

data.head() #view new data

   MonthlySales   Name  PendingSales
0            25   John            25
1            30   Deep            20
2            35  Julia            15
3            40   Kate            10
4            45  Sandy             5

We can also perform operations on our data using loops. Lets write a loop that will go through each entry in our dummy data and check if pending sales is less than 5, then print a message for that person that says "on track" otherwise "not on track". We will call this new column "status." We will be using elif. Elif is a useful looping tool that checks the expression specified in the loop and writing some operation as a result. It is sort of a short cut to extend operations in an if statement.

In [20]:
status=[] #initialize the new column to collect the entries based on conditions in loops, we append this to data in loop

for x in data["PendingSales"]: #for all values in pending sales column...
    
    if x <= 5: #if x is less than or equal to 5, then person is on track
        
        status.append("OnTrack") #append on track in new column for people who meet condition 
        
    elif x>5: #else if sales pending is greater than 5, then person is not on track 
        
        status.append("NotOnTrack") #append not on track in new column for people who meet other criteria 
        
data["status"]=status #grab the status entries we collected in the start and add them as new column to data frame

In [21]:
data.head()

   MonthlySales   Name  PendingSales      status
0            25   John            25  NotOnTrack
1            30   Deep            20  NotOnTrack
2            35  Julia            15  NotOnTrack
3            40   Kate            10  NotOnTrack
4            45  Sandy             5     OnTrack